.borderLeft{
    -fx-border-width: 0 3px 0 0;
    -fx-border-color: #565656;
    -fx-border-style: solid;
}

.borderBottom{
    -fx-border-width: 0 0 3px 0;
    -fx-border-color: #565656;
    -fx-border-style: solid;
}

.borderLeftBottom{
    -fx-border-width: 0 3px 3px 0;
    -fx-border-color: #565656;
    -fx-border-style: solid;
}

